version: '3.8'

services:
  fastapi:
    build:
      context: .
      dockerfile: api/Dockerfile
    ports:
      - "8000:8000"
    env_file:
      - .env
    command: uvicorn api.app.server:app --host 0.0.0.0 --port 8000 --reload
    volumes:
      - .:/app